extends layout.pug

block content
  a(href='/update-cobj') Agregar/Actualizar esta tabla
  .table-container
    table
        thead
        tr
            th Nombre
            th Especie
            th Raza
        tbody
        each item in data
            tr
            td= item.properties.name
            td= item.properties.species
            td= item.properties.race
