// layout.pug
doctype html
html
  head
    title= title || 'HubSpot Custom Objects'
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      h1= title
    .content
        block content
    footer
      p HubSpot API Practicum
