// layout.pug
doctype html
html
  head
    title= title || 'HubSpot Custom Objects'
    link(rel='stylesheet', href='/styles.css')
  body
    header
      h1= title
    block content
    footer
      p HubSpot API Practicum
